# Map and Apply

Today I will look specifically at the `map()` and `apply()` pandas functions. As of 2024-07-12, `applymap()` has been deprecated so I will not cover it's uses.

## What's the difference between `map()` and `apply()`?
A simple way to put it is, `apply()` is for a row or column and `map()` is for a dataframe.

## Lets import some data and get started with some examples
I am a fan of DC superheroes so I will be using the dc-comics data from [Kaggle](https://www.kaggle.com/datasets/arunasivapragasam/dc-comics?resource=download).
The `page_id` column will be the database id assigned to each record and the `URL` is a link to the associated characters wiki page, all other columns are self evident.

In [1]:
import pandas as pd

In [5]:
dc_data = pd.read_csv('../data/dc-comics.csv')

In [6]:
dc_data.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,1237.0,"1940, April",1940.0

## Lets work with `apply()` first.
My thought process for using `apply()` is, if I were to look at a single row or column, would I be able to achieve what I want?<br>
For reference, here are the arguments for `apply()`<br>
- func
    - function you create to be applied either row wise or column wise
- axis = 0
    - 0 is used for row wise
    - 1 is used for column wise

## Example of `apply()` to create a new column
- I want to add a column that lets me know the characters current age. We'll base it on their first appearance.

### `apply()` breakdown
I like to look at new functions broken down step by step and then also see how they are implemented. Before we breakdown the `apply()` function, one should always have the goal of making their code readable. To make the `apply()` implementation readable, I write a function with a name that makes sense.<br>
1. Write function for `apply()`
    - Since `apply()` is used on a row or column it is common for the argument of our function to be row or column
    - Make the name of the function the *action* you are intending
    - return the value you desire
2. Implement the function to `apply()`
    - Using the arguments of `apply()` and our function, implementation is straight forward
    - Here is a template:
        - data["column"] = data.apply(your_function, axis=1)

In [13]:
from datetime import datetime

print("current year: ", datetime.today().year)

def get_characters_current_age(row):
    today = datetime.today().year
    characters_current_age = today - row['YEAR']
    return characters_current_age

current year:  2024

In [14]:
dc_data['current_age'] = dc_data.apply(get_characters_current_age, axis=1)

In [15]:
dc_data.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR,current_age
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,3093.0,"1939, May",1939.0,85.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,2496.0,"1986, October",1986.0,38.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,Living Characters,1565.0,"1959, October",1959.0,65.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,Living Characters,1316.0,"1987, February",1987.0,37.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,1237.0,"1940, April",1940.0,84.0